---
---

//
// IMPORTS
//

@import "reset";

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
  overflow-y: scroll;
}

body {
  background: #ffffff;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.1em;
  color: #000000;
}

.container {
  margin: 0 auto;
  max-width: 80%;
  padding: 0 10px;
  width: 100%;
}

.icons {
  margin: 0 auto;
  max-width: 80%;
  padding: 0px;
  width: 100%;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

//h1, h2, h3, h4, h5, h6 {
//  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
//  color: #222222;
//
//  margin: 1em 0 1em 0;
//  padding: 0;
//
///*  @include mobile {
//    line-height: 1.4;
//  }*/
//}
//
//h1 {
//  font-size: 200%;
//  margin:    0;
//  color:     #000000;
//}
//
//h2 {
//  font-size: 150%;
//  line-height: 1;
//  margin: 1em 0px 1em 0px;
//  letter-spacing: 1px;
//}
//
//h3 {
//  font-size: 20px;
//}
//
//h4 {
//  font-size: 16px;
//  color: #666666;
//}



a {
  color: #1111ee;
  text-decoration: underline;
}
a:hover, a:active {
  color: #1155ee;
  text-decoration: underline;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}




table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td {
    border: 1px solid #dddddd;
    text-align: right;
    padding: 3px;
}

th {
    border: 1px solid #dddddd;
    text-align: right;
    background-color: #ffffff;
}


p {
  margin: 15px 0;
}



// Specify the color of the selected text
::-moz-selection { color: #000000; background: #eeeeee; }
::selection      { color: #000000; background: #eeeeee; }



.section {
  overflow:      auto;
  margin-top:    36px;
  margin-bottom: 36px;
}

.sectionTitle {
  text-align: center;
  color: #666666;
  line-height: 1;
  font-size: 30px;
    vertical-align: middle;
    letter-spacing: 1px;
}

.subheading {
    color: #666666;
  margin: 0px 0px 15px 0px;
  border-bottom: 1px solid lightGray;
}

.mainHeading {
  margin-bottom: 0;
}










////////////////////////////////////////
//
//  Top of page banner:
//
//    div    - wrapper-masthead  - spans the whole page, colored teal
//    div    - container         - spans 80% of wrapper-masthead (like the rest of the site)
//    header - masthead clearfix - 
//      div  - site-info         - 
//           - site-name         - text: "GenomeArk"
//           - site-description  - text: "Genome Data from ...."
//
.wrapper-masthead {
  background-color:            #008080;
  margin-top:        0px;
  margin-bottom:    50px;
  border-top:        1px solid #dddddd;
  border-bottom:     1px solid #dddddd;
}

.masthead {
  padding-top:      20px;
  padding-bottom:   20px;

  vertical-align:   middle;

  @include mobile {
    text-align: center;
  }
}

.site-info {
  color:  #eeeeee;
  float:  left;

  @include mobile {
    float:    none;
    display:  block;
    margin:   0 auto;
  }

  a       { color: #eeeeee; }   //  anchors in the header are white on teal
  a:hover { color: #bbbbbb; }   //  and darker when hovering.
}

.site-name {         //  GenomeArk
  font-weight:    400;
  font-size:      200%;
  letter-spacing:   1px;
  a {
    text-decoration: none;  //  Don't underline "GenomeArk" in the header; it looks silly.
  }
}

.site-description {  //  Genome Data from ....
  font-size:      100%;

  @include mobile {
    margin: 3px 0;
  }
}



////////////////////////////////////////
//
//  Bottom of page footer, last updated, twitter/github links.
//
//    div    - wrapper-footer  - span the whole page
//    div    - container       - spans 80%
//    footer - footer          - 
//
.wrapper-footer {
  margin-top:    50px;
  margin-bottom: 20px;
  border-top:    1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  background-color: #eeeeee;
}

footer {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}



////////////////////////////////////////
//
//  Images of species -- _layouts/species-image.html
//    species-image-tiny - used for images in the random matrix on the main page
//    species-image-full - used for images on the species page
//    species-image-lic  - used for the credits/license of the above
//
//  Images in species-lists are defined in species-list-image.
//
.species-image-tiny {
  border-radius:       12px;
  width:               128px;
  height:              128px;
  background-size:     cover;
  background-position: center;
  box-shadow:          0 2px 5px 0px #666666;
  display:             block;
  margin:              auto;

  @include mobile { clear: right; }
}

.species-image-full {
  border-radius:       12px;
  width:               256px;
  height:              256px;
  background-size:     cover;
  background-position: center;
  box-shadow:          0 2px 5px 0px #666666;
  display:             block;
  margin:              auto;

  @include mobile { clear: right; }
}

.species-image-lic {
  width:               256px;
  margin:              auto;
  text-align:          right;
  font-size:           12px;
  color:               #666666;
}





////////////////////////////////////////
//
//  Section headers.  (see also _includes/title-bar.html)
//
//               --------------- header text ---------------
//
//  The header spans 80% of the containing element (which itself is probably 80%
//  of the page).
//
//    secthead-outer      spans 100% of the container
//                        adds a 50px margin on the top (think of it as a paragraph break)
//
//    secthead-inner      chops the width down to 80% and centers it
//                        (auto margin on left and right is the magic)
//
//    secthead-left    \  these mimic a table, with the text in the center.
//    secthead-center  -  if the text is larger than 15%, the center cell
//    secthead-right   /  grows
//
//    secthead-line       draws a line centered vertically
//
.secthead-outer {
  clear: both;
  margin: 50px 0px 0px 0px;
  display: table;
  width: 100%;
  text-align:center;
}
.secthead-inner {
  margin: 0px auto 0px auto;
  display: table;
  width: 80%;
  text-align:center;
}
.secthead-left {
  display: table-cell;
  height: 100%;
  position: relative;
}
.secthead-center {
  width: auto;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 125%;
  line-height: 125%;
  text-align: center;

  display: table-cell;
  width: 15%;
  height: 100%;
  position: relative;
}
.secthead-right {
  display: table-cell;
  height: 100%;
  position: relative;
}
.secthead-line {
  position: absolute;
  width: 100%;
  top: 50%;
  border-bottom: 1px solid #888888;
}



////////////////////////////////////////
//
//  Stuff on the main page.
//    welcome             - intro paragraph
//    project-table       - the 'by project and completion' table.
//    random-species      - thr grid of random species
//    random-species-cell - a cell in the grid of random species
//
div.welcome {
  width:        75%;
  text-align:   justify;
  margin-left:  auto;
  margin-right: auto;
  display:      block;
}

div.project-table {
  width: 75%;
  margin: 1px auto 1px auto;
}

table.project-table {
}

table.project-table thead {
  text-align:       right;
  border:           1px solid #dddddd;
  border-top:       1px solid #111111;
  border-bottom:    2px solid #111111;
}

table.project-table th {
  text-align:       right;
  border:           1px solid #111111;
  padding:          2px;
  padding-left:     8px;
  padding-right:    8px;
  background-color: #cccccc;

  &.one { width: 12%; }
  &.two { width: 22%; }
  &.thr { width: 22%; }
  &.fur { width: 22%; }
  &.fiv { width: 22%; }
  &.foot{ background-color: #eeeeee; }
}

table.project-table td {
  text-align:       right;
  border:           1px solid #dddddd;
  padding:          2px;
  padding-left:     8px;
  padding-right:    8px;
}

table.project-table td a {
  color:            #1111ee;
}

table.project-table .label {
  text-align:       left;
}

table.project-table tfoot {
  text-align:       right;
  border-top:       2px solid #111111;
  border-bottom:    1px solid #111111;
}

div.random-species {
  width:    75%;
  margin:   1px auto 1px auto;
  overflow: auto;
  align:    center;
}
div.random-species-cell {
  height:   161px;
  width:    24%;
  overflow: auto;
  float:    right;
}



//////////////////////////////
//
//  Pages with lists of species.  These are auto-generated by
//  GenomeArkProject.pm, files genomeark-all/index.html, etc.  The actual
//  list layout is defined in _includes/species-listing.html
//
//    species-list-page-name   - "All Species"
//    species-list             - A div around the actual list.
//    species-listing          - A single list entry.  Color is the species name.
//    species-list-wrapper     - A div containing the species picture.
//    species-list-image       - A div containing the species picture with shading.
//    specieslist-info-wrapper - A div containing the species name, common, and info

.species-list-page-name {
  color:           #111111;
  text-align:      left;
  display:         block;
  margin:           0px;
  margin-bottom:   30px;     //  A little space between "All Species" and the actual list.
  letter-spacing:   1px;
}

.species-list {
  display:         block;
  margin:          0px;
}

.species-listing {
  color:           #111111;             //  Color of the species common name.
  padding-top:     10px;                //  Padding on top and bottom, else the
  padding-bottom:  10px;                //  line is adjacent to the picture.
  width:           100%;                //
  border-top:      1px solid #444444;   //  A line separating the species-list entries.
}

.species-list-image-wrapper {
  width:               1%;
  padding:             6px 0px 6px 0px;
}
.species-list-image {
  border-radius:       12px;
  width:               100px;
  height:              100px;
  background-size:     cover;
  background-position: center;
  box-shadow:          0 2px 5px 0px #666666;
}

.species-list-info-wrapper {
  vertical-align:      top;
  padding:             30px 0px 0px 10px;
}

.species-list-info-name {       //  This is the text of the species name link
  a       { color: #3333cc; }
  a:hover { color: #1111bb; }
}

.species-list-info-body {       //  This is a div with the common name and info list.
  color:           #333333;     //  Color of the species common name.
  margin-left:    10px;         //  Distance from the image to the div border.
  padding-left:   10px;         //  Distance from the div border to the list.
  border-left:     1px solid #000000;  //  This is the vertical line on the left side.
}



////////////////////////////////////////
//
//  Species detail pages, defined in _layouts/genomeark.html
//    species-detail    - wrapper around the whole page
//
div.species-detail {      //  A div around the whole page.
  overflow:       auto;
}

//
//  The species-info table (with speices name and picture)
//    sd-sname          - species-name text at the top
//    sd-cname          - common-name text at the top
//    sd-info           - wrapper around the info block
//    sd-image          - 
//
.sd-sname {
  font-size:      200%;
  color:          #000000;
  font-style:     italic;
  letter-spacing: 1px;
}

.sd-cname {
  font-size:      150%;
  color:          #333333;
}

div.sd-info {
  width:          66%;
  overflow:       auto;
  float:          left;
}

table.sd-info-tab thead {
  text-align:       right;
  border:           1px solid #dddddd;
  border-top:       1px solid #111111;
  border-bottom:    2px solid #111111;
}

table.sd-info-tab th {
  text-align:       right;
  border:           1px solid #111111;
  padding:          2px;
  padding-left:     8px;
  padding-right:    8px;
  background-color: #cccccc;
}

table.sd-info-tab td {
  text-align:       right;
  border:           1px solid #dddddd;
  padding:          2px;
  padding-left:     8px;
  padding-right:    8px;
}

table.sd-info-tab .label {
  text-align:       left;
}

table.sd-info-tab tfoot {
  text-align:       right;
  border-top:       2px solid #111111;
  border-bottom:    1px solid #111111;
}

div.sd-image {
  overflow:       auto;
  float:          right;
}

//
//  The raw data tables
//

table.raw-data-table thead {
  text-align:       right;
  border:           1px solid #dddddd;
  border-top:       1px solid #111111;
  border-bottom:    2px solid #111111;
}

table.raw-data-table th {
  text-align:       right;
  border:           1px solid #111111;
  padding:          2px;
  padding-left:     8px;
  padding-right:    8px;
  background-color: #cccccc;
}

table.raw-data-table td {
  text-align:       right;
  border:           1px solid #dddddd;
  padding:          2px;
  padding-left:     8px;
  padding-right:    8px;
}
table.raw-data-table .label {
  text-align:       left;
}

table.raw-data-table tfoot {
  text-align:       right;
  border-top:       2px solid #111111;
  border-bottom:    1px solid #111111;
}

p.raw-data-size {
  margin:         0px 0px 0px 0px;
  font-size:      75%;
  text-align:     right;
}
p.raw-data-date {
  margin:         0px 0px 0px 0px;
  font-size:      75%;
  text-align:     right;
}

div.raw-data-links {
  padding:      0px 0px 0px 20px;
  overflow-y:   auto;
  overflow-x:   auto;  //scroll;
  white-space:  nowrap;
  margin-right: 0px 10px 0px 10px;
  font-family:  monospace;
  font-size:    75%;
}

//
//  Assembly tables - this stuff is in _include/assembly-stats.html
//

div.assembly-list {
  width:    97%;
}

div.assembly-block-l {
  @media only screen and (max-width: 768px) { width: 99%; overflow: scroll;               }
  @media only screen and (min-width: 769px) { width: 49%; overflow: hidden; float: left;  }
}
div.assembly-block-r {
  @media only screen and (max-width: 768px) { width: 99%; overflow: scroll;               }
  @media only screen and (min-width: 769px) { width: 49%; overflow: hidden; float: right; }
}

.sequence-file {
}

.sequence-sizes-table {
}

.genome-size {
  clear:    left;
  text-align: right;
}

table.sequence-sizes-table thead {
    text-align:       right;
    border:           1px solid #dddddd;
    border-top:       1px solid #111111;
    border-bottom:    2px solid #111111;
}

table.sequence-sizes-table th {
    text-align:       right;
    border:           1px solid #111111;
    padding:          2px;
    padding-left:     8px;
    padding-right:    8px;
    background-color: #cccccc;
}

table.sequence-sizes-table td {
    text-align:       right;
    border:           1px solid #dddddd;
    padding:          2px;
    padding-left:     8px;
    padding-right:    8px;
}

table.sequence-sizes-table tfoot {
    text-align:       right;
    border-top:       2px solid #111111;
    border-bottom:    1px solid #111111;
}


//
//  Data use text at the bottom of the page.
//  It's also abused for showing "No raw data" and "No assemblies".
//
div.data-use {
  width:        75%;
  text-align:   justify;
  margin-left:  auto;
  margin-right: auto;
  display:      block;
}






// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

//  DEBUG
//div {
//    border: 1px solid #000000;
//}



// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
