
<!--
<p>
DEBUG:<br>
lseq {{ include.lseq }}<br>
rseq {{ include.rseq }}<br>
mseq {{ include.mseq }}
</p>
-->

{% if include.tseq or include.lseq or include.rseq or include.mseq %}

{% if show_asm_div == true %}
<hr>
{% endif %}
{% assign show_asm_div = true %}

<div class="assembly">

  {% if include.tseq %}
  <div class="merged-sequence-left">
    <div class="sequence-file">
    <b>Individual {{ include.individual }} Merged Trio Assembly</b><br>
    {% if include.tseq %}
    Version <em>{{ include.tversion }}</em> from {{ include.tdate | date: "%-d %B %Y" }}<br>
    <a href="{{ include.tseq }}">{{ include.tseq | split: "/" | last }}</a> ({{ include.tfilesize }})<br>
    {% else %}
    No merged assembly available.
    {% endif %}
    </div>
    <br>
    <div class="sequence-sizes">
    {% if include.tsizes %}
    {{ include.tsizes }}
    <div class="genome-size">
    {% if include.genome_size_display %}
    NG based on genome size {{ page.genome_size_display }}.
    {% else %}
    NG based on each assembly size.<br>(No genome size estimate available.)
    {% endif %}
    </div>
    {% endif %}
    </div>
  </div>
  <div class="merged-sequence-right">
  </div>

  <div class="genome-size">
  <br>
  </div>
  {% endif %}

  <div class="primary-sequence">
    <div class="sequence-file">
    <b>Individual {{ include.individual }} {{ include.llabel }} Assembly</b><br>
    {% if include.lseq %}
    Version <em>{{ include.lversion }}</em> from {{ include.ldate | date: "%-d %B %Y" }}<br>
    <a href="{{ include.lseq }}">{{ include.lseq | split: "/" | last }}</a> ({{ include.lfilesize }})<br>
    {% else %}
    No primary assembly available.
    {% endif %}
    </div>
    <br>
    <div class="sequence-sizes">
    {% if include.lsizes %}
    {{ include.lsizes }}
    <div class="genome-size">
    {% if include.genome_size_display %}
    NG based on genome size {{ page.genome_size_display }}.
    {% else %}
    NG based on each assembly size.<br>(No genome size estimate available.)
    {% endif %}
    </div>
    {% endif %}
    </div>
  </div>

  <div class="alternate-sequence">
    <div class="sequence-file">
    <b>Individual {{ include.individual }} {{ include.rlabel }} Assembly</b><br>
    {% if include.rseq %}
    Version <em>{{ include.rversion }}</em> from {{ include.rdate | date: "%-d %B %Y" }}<br>
    <a href="{{ include.rseq }}">{{ include.rseq | split: "/" | last }}</a> ({{ include.rfilesize }})
    {% else %}
    No alternate assembly available.
    {% endif %}
    </div>
    <br>
    <div class="sequence-sizes">
    {% if include.rsizes %}
    {{ include.rsizes }}
    <div class="genome-size">
    {% if include.genome_size_display %}
    NG based on genome size {{ page.genome_size_display }}.
    {% else %}
    NG based on each assembly size.<br>(No genome size estimate available.)
    {% endif %}
    </div>
    {% endif %}
    </div>
  </div>

  <div class="genome-size">
  <br>
  </div>

  {% if include.mseq %}
  <div class="mito-sequence">
    <div class="sequence-file">
    <b>Individual {{ include.individual }} Mitochondrial Assembly</b><br>
    Version <em>{{ include.mversion }}</em> from {{ include.mdate | date: "%-d %B %Y" }}<br>
    <a href="{{ include.mseq }}">{{ include.mseq | split: "/" | last }}</a> ({{ include.mfilesize }})
    </div>
  </div>
  {% endif %}

</div>

{% endif %}
