{% assign species = include.species %}

{% include species-image.html species_name=species.name_ %}

<div class="species-listing" style="display:table;">
	<div class="species-list-image-wrapper" style="display:table-cell;">
	<a href="{{ site.baseurl }}{{ species.url }}">
  <div class="species-list-image" style="background-image:url({{ image }});"></div>
	</a>
	</div>

	<div class="species-list-info-wrapper" style="display:table-cell;">
    <div class="species-list-info-name">
    <a href="{{ site.baseurl }}{{ species.url }}"><i>{{ species.name }}</i></a>
    {% if species.common_name %}
    "{{ species.common_name }}"
    {% endif %}
    </div>
    <div class="species-list-info-body">
      Project: {{ species.project | join: " ::: " | upcase: }}
      <br>
      Reads: {{ species.data_status }}
      <br>
      Assembly: {{ species.assembly_status }}
      {% if species.mito1seq or species.mito2seq or species.mito3seq or species.mito4seq %}
      ::: <em style="color:green">Mitochondrial</em>
      {% endif %}
    </div>
	</div>
</div>
