---
layout: default
---

{% comment %} This sets the 'image' and 'license' variables used below {% endcomment %}
{% include species-image.html species_name=page.name_ %}

<script>
var tog = function (event) {
  if (event.target.id == "togMD") {
    event.preventDefault();

    document.querySelector(event.target.hash).classList.toggle('visible');

    if (event.target.text == "hide") {
      event.target.text = "view";
    } else {
      event.target.text = "hide";
    }
  }
}
document.addEventListener('click', tog, false);
</script>

<div class="section">
<div class="sd-info">
  <p class="sd-sname">{{ page.name }}</p>
  <p class="sd-cname">{{ page.common_name }}</p>

  <p>
  - <a href="https://genomeark.s3.amazonaws.com/index.html?prefix=species/{{ page.name_ }}">S3 File Index</a> --
  <a href="https://42basepairs.com/browse/s3/genomeark/species/{{ page.name_ }}">S3 Interactive Viewer</a></li>
  {% if page.taxon_id %}
  -- <a href="https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?id={{ page.taxon_id }}">NCBI Taxonomy Browser</a> -
  {% endif %}
  </p>

  <br>

  {% if page.genbank_pri or page.genbank_alt %}
    <table class="sd-info-tab">
    <thead><tr><th class="label" width="30%">Resource</th>
               <th>Primary Assembly</th>
               <th>Alternate Assembly</th>
           </tr></thead>
    <tbody><tr><td class="label">GenBank</td>
               <td> {% include resource-links.html data=page.genbank_pri link="https://www.ncbi.nlm.nih.gov/assembly/YOURACCHERE" %} </td>
               <td> {% include resource-links.html data=page.genbank_alt link="https://www.ncbi.nlm.nih.gov/assembly/YOURACCHERE" %} </td>
           </tr>
           <tr><td class="label">ENA</td>
               <td> {% include resource-links.html data=page.genbank_pri link="https://www.ebi.ac.uk/ena/browser/view/YOURACCHERE" %} </td>
               <td> {% include resource-links.html data=page.genbank_alt link="https://www.ebi.ac.uk/ena/browser/view/YOURACCHERE" %} </td>
           </tr>
           <tr><td class="label">UCSC Genome Browser</td>
               <td> {% include resource-links.html data=page.genbank_pri link="https://genome.ucsc.edu/h/YOURACCHERE" %} </td>
               <td> {% include resource-links.html data=page.genbank_alt link="https://genome.ucsc.edu/h/YOURACCHERE" %} </td>
           </tr></tbody>
    </table>
    <br>
  {% endif %}

  {% if page.genbank_mat or page.genbank_pat %}
    <table class="sd-info-tab">
    <thead><tr><th class="label" width="30%">Resource</th>
               <th>Maternal Assembly</th>
               <th>Paternal Assembly</th>
           </tr></thead>
    <tbody><tr><td class="label">GenBank</td>
               <td> {% include resource-links.html data=page.genbank_mat link="https://www.ncbi.nlm.nih.gov/assembly/YOURACCHERE" %} </td>
               <td> {% include resource-links.html data=page.genbank_pat link="https://www.ncbi.nlm.nih.gov/assembly/YOURACCHERE" %} </td>
           </tr>
           <tr><td class="label">ENA</td>
               <td> {% include resource-links.html data=page.genbank_mat link="https://www.ebi.ac.uk/ena/browser/view/YOURACCHERE" %} </td>
               <td> {% include resource-links.html data=page.genbank_pat link="https://www.ebi.ac.uk/ena/browser/view/YOURACCHERE" %} </td>
           </tr>
           <tr><td class="label">UCSC Genome Browser</td>
               <td> {% include resource-links.html data=page.genbank_mat link="https://genome.ucsc.edu/h/YOURACCHERE" %} </td>
               <td> {% include resource-links.html data=page.genbank_pat link="https://genome.ucsc.edu/h/YOURACCHERE" %} </td>
           </tr></tbody>
    </table>
    <br>
  {% endif %}

  {% if page.metadata %}
    <table class="sd-info-tab">
    <thead><tr><th class="label" width="100%">metadata.yaml (<a id="togMD" href="#metadata">view</a>) (<a href="https://github.com/genomeark/genomeark-metadata/blob/main/species/{{ page.name_ }}.yaml">edit on github</a>)</th>
           </tr></thead>
    <tbody>
      <tr>
      <td style="text-align: left;">
        <div class="metadata-display" id="metadata">
        <pre>
{{ page.metadata }}
        </pre>
        </div>
      </td>
      </tr>
    </tbody>
    </table>
  {% endif %}
</div class="sd-info">

<div class="sd-image">
  <div style="display: inline; margin: 0;">
    <div style="background-image:url({{ image }}); " class="species-image-full" src="">
    </div>
    <div class="species-image-lic">
      {{ license }}
    </div>
  </div>
</div class="sd-image">
</div class="section">

{% unless page.last_raw_data %}

{% include section-divider.html title="Raw Data" %}

<div class="section">
<div class="data-use">
<p style="text-align: center;">
<em style="color:maroon">No raw data.</em>
</p>
</div>
</div>

{% else %}

{% include section-divider.html title="Raw Data by Technology" %}
<div class="section">
{% include data-table-technology.html %}
</div class="section">

{% include section-divider.html title="Raw Data by Individual" %}

<div class="section">
{% include data-table-individual.html %}
</div class="section">

{% endunless %}

<!-- NOTES --->

{% if page.notes %}
{% include section-divider.html title="Notes" %}
<div class="notes">
<em style="color:red">{{ page.notes }}</em><br/>
</div>
{% endif %}

<!-- ASSEMBLIES --->

{% include section-divider.html title="Assemblies" %}

{% comment %}
  Create an assembly-stats block for any assembly that exists for up to six individuals.
  A block will have up to two assemblies shown (with an optional mito sequence):
    PRI/ALT
    PAT/MAT (with optional merged version)
    DIP
  An individual shouldn't have both PRI/ALT and PAT/MAT, but it will still
  display properly (except that the mito will be shown for both).

  There's a LOT of baloney here to get a divider between individuals shown, but that
  same baloney lets us decide early if there are any assemblies at all, and if there are none,
  to show an entirely different block.
{% endcomment %}

{% if page.pri1seq or page.alt1seq or page.mat1seq or page.pat1seq or page.hpa1seq or page.hpb1seq or page.mgd1seq or page.dip1seq or page.mito1seq %} {% assign d1 = true %} {% else %} {% assign d1 = false %} {% endif %}
{% if page.pri2seq or page.alt2seq or page.mat2seq or page.pat2seq or page.hpa2seq or page.hpb2seq or page.mgd2seq or page.dip2seq or page.mito2seq %} {% assign d2 = true %} {% else %} {% assign d2 = false %} {% endif %}
{% if page.pri3seq or page.alt3seq or page.mat3seq or page.pat3seq or page.hpa3seq or page.hpb3seq or page.mgd3seq or page.dip3seq or page.mito3seq %} {% assign d3 = true %} {% else %} {% assign d3 = false %} {% endif %}
{% if page.pri4seq or page.alt4seq or page.mat4seq or page.pat4seq or page.hpa4seq or page.hpb4seq or page.mgd4seq or page.dip4seq or page.mito4seq %} {% assign d4 = true %} {% else %} {% assign d4 = false %} {% endif %}
{% if page.pri5seq or page.alt5seq or page.mat5seq or page.pat5seq or page.hpa5seq or page.hpb5seq or page.mgd5seq or page.dip5seq or page.mito5seq %} {% assign d5 = true %} {% else %} {% assign d5 = false %} {% endif %}
{% if page.pri6seq or page.alt6seq or page.mat6seq or page.pat6seq or page.hpa6seq or page.hpb6seq or page.mgd6seq or page.dip6seq or page.mito6seq %} {% assign d6 = true %} {% else %} {% assign d6 = false %} {% endif %}
{% if page.pri7seq or page.alt7seq or page.mat7seq or page.pat7seq or page.hpa7seq or page.hpb7seq or page.mgd7seq or page.dip7seq or page.mito7seq %} {% assign d7 = true %} {% else %} {% assign d7 = false %} {% endif %}
{% if page.pri8seq or page.alt8seq or page.mat8seq or page.pat8seq or page.hpa8seq or page.hpb8seq or page.mgd8seq or page.dip8seq or page.mito8seq %} {% assign d8 = true %} {% else %} {% assign d8 = false %} {% endif %}
{% if page.pri9seq or page.alt9seq or page.mat9seq or page.pat9seq or page.hpa9seq or page.hpb9seq or page.mgd9seq or page.dip9seq or page.mito9seq %} {% assign d9 = true %} {% else %} {% assign d9 = false %} {% endif %}

{% if d2 or d3 or d4 or d5 or d6 or d7 or d8 or d9 %}  {% assign div12b = true %}  {% else %}  {% assign div12b = false %}  {% endif %}
{% if       d3 or d4 or d5 or d6 or d7 or d8 or d9 %}  {% assign div23b = true %}  {% else %}  {% assign div23b = false %}  {% endif %}
{% if             d4 or d5 or d6 or d7 or d8 or d9 %}  {% assign div34b = true %}  {% else %}  {% assign div34b = false %}  {% endif %}
{% if                   d5 or d6 or d7 or d8 or d9 %}  {% assign div45b = true %}  {% else %}  {% assign div45b = false %}  {% endif %}
{% if                         d6 or d7 or d8 or d9 %}  {% assign div56b = true %}  {% else %}  {% assign div56b = false %}  {% endif %}
{% if                               d7 or d8 or d9 %}  {% assign div67b = true %}  {% else %}  {% assign div67b = false %}  {% endif %}
{% if                                     d8 or d9 %}  {% assign div78b = true %}  {% else %}  {% assign div78b = false %}  {% endif %}
{% if                                           d9 %}  {% assign div89b = true %}  {% else %}  {% assign div89b = false %}  {% endif %}


{% unless d1 or d2 or d3 or d4 or d5 or d6 or d7 or d8 or d9 %}

<div class="section">
<div class="data-use">
<p style="text-align: center;">
<em style="color:maroon">No assemblies.</em>
</p>
</div>
</div>

{% else %}

<div class="section">

{% assign shown = false %}

{% include assembly-stats.html individual=1 tlabel="Diploid"     tseq=page.dip1seq  tversion=page.dip1version  tdate=page.dip1date  tfilesize=page.dip1filesize  tsizes=page.dip1sizes %}
{% include assembly-stats.html individual=1 llabel="Primary"     lseq=page.pri1seq  lversion=page.pri1version  ldate=page.pri1date  lfilesize=page.pri1filesize  lsizes=page.pri1sizes
                                            rlabel="Alternate"   rseq=page.alt1seq  rversion=page.alt1version  rdate=page.alt1date  rfilesize=page.alt1filesize  rsizes=page.alt1sizes %}
{% include assembly-stats.html individual=1 tlabel="Merged Trio" tseq=page.mgd1seq  tversion=page.mgd1version  tdate=page.mgd1date  tfilesize=page.mgd1filesize  tsizes=page.mgd1sizes %}
{% include assembly-stats.html individual=1 llabel="Maternal"    lseq=page.mat1seq  lversion=page.mat1version  ldate=page.mat1date  lfilesize=page.mat1filesize  lsizes=page.mat1sizes
                                            rlabel="Paternal"    rseq=page.pat1seq  rversion=page.pat1version  rdate=page.pat1date  rfilesize=page.pat1filesize  rsizes=page.pat1sizes %}
{% include assembly-stats.html individual=1 llabel="Haplotype 1" lseq=page.hpa1seq  lversion=page.hpa1version  ldate=page.hpa1date  lfilesize=page.hpa1filesize  lsizes=page.hpa1sizes
                                            rlabel="Haplotype 2" rseq=page.hpb1seq  rversion=page.hpb1version  rdate=page.hpb1date  rfilesize=page.hpb1filesize  rsizes=page.hpb1sizes %}
{% include assembly-stats.html individual=1                      mseq=page.mito1seq mversion=page.mito1version mdate=page.mito1date mfilesize=page.mito1filesize %}

{% if d1 %} {% assign shown = false %} {% endif %}
{% if shown == false and d1 and div12b %}
{% assign shown = true %}
<div class="assembly-list-line">
<hr width="80%">
</div>
{% endif %}

{% include assembly-stats.html individual=2 tlabel="Diploid"     tseq=page.dip2seq  tversion=page.dip2version  tdate=page.dip2date  tfilesize=page.dip2filesize  tsizes=page.dip2sizes %}
{% include assembly-stats.html individual=2 llabel="Primary"     lseq=page.pri2seq  lversion=page.pri2version  ldate=page.pri2date  lfilesize=page.pri2filesize  lsizes=page.pri2sizes
                                            rlabel="Alternate"   rseq=page.alt2seq  rversion=page.alt2version  rdate=page.alt2date  rfilesize=page.alt2filesize  rsizes=page.alt2sizes %}
{% include assembly-stats.html individual=2 tlabel="Merged Trio" tseq=page.mgd2seq  tversion=page.mgd2version  tdate=page.mgd2date  tfilesize=page.mgd2filesize  tsizes=page.mgd2sizes %}
{% include assembly-stats.html individual=2 llabel="Maternal"    lseq=page.mat2seq  lversion=page.mat2version  ldate=page.mat2date  lfilesize=page.mat2filesize  lsizes=page.mat2sizes
                                            rlabel="Paternal"    rseq=page.pat2seq  rversion=page.pat2version  rdate=page.pat2date  rfilesize=page.pat2filesize  rsizes=page.pat2sizes %}
{% include assembly-stats.html individual=2 llabel="Haplotype 1" lseq=page.hpa2seq  lversion=page.hpa2version  ldate=page.hpa2date  lfilesize=page.hpa2filesize  lsizes=page.hpa2sizes
                                            rlabel="Haplotype 2" rseq=page.hpb2seq  rversion=page.hpb2version  rdate=page.hpb2date  rfilesize=page.hpb2filesize  rsizes=page.hpb2sizes %}
{% include assembly-stats.html individual=2                      mseq=page.mito2seq mversion=page.mito2version mdate=page.mito2date mfilesize=page.mito2filesize %}

{% if d2 %} {% assign shown = false %} {% endif %}
{% if shown == false and d2 and div23b %}
{% assign shown = true %}
<div class="assembly-list-line">
<hr width="80%">
</div>
{% endif %}

{% include assembly-stats.html individual=3 tlabel="Diploid"     tseq=page.dip3seq  tversion=page.dip3version  tdate=page.dip3date  tfilesize=page.dip3filesize  tsizes=page.dip3sizes %}
{% include assembly-stats.html individual=3 llabel="Primary"     lseq=page.pri3seq  lversion=page.pri3version  ldate=page.pri3date  lfilesize=page.pri3filesize  lsizes=page.pri3sizes
                                            rlabel="Alternate"   rseq=page.alt3seq  rversion=page.alt3version  rdate=page.alt3date  rfilesize=page.alt3filesize  rsizes=page.alt3sizes %}
{% include assembly-stats.html individual=3 tlabel="Merged Trio" tseq=page.mgd3seq  tversion=page.mgd3version  tdate=page.mgd3date  tfilesize=page.mgd3filesize  tsizes=page.mgd3sizes %}
{% include assembly-stats.html individual=3 llabel="Maternal"    lseq=page.mat3seq  lversion=page.mat3version  ldate=page.mat3date  lfilesize=page.mat3filesize  lsizes=page.mat3sizes
                                            rlabel="Paternal"    rseq=page.pat3seq  rversion=page.pat3version  rdate=page.pat3date  rfilesize=page.pat3filesize  rsizes=page.pat3sizes %}
{% include assembly-stats.html individual=3 llabel="Haplotype 1" lseq=page.hpa3seq  lversion=page.hpa3version  ldate=page.hpa3date  lfilesize=page.hpa3filesize  lsizes=page.hpa3sizes
                                            rlabel="Haplotype 2" rseq=page.hpb3seq  rversion=page.hpb3version  rdate=page.hpb3date  rfilesize=page.hpb3filesize  rsizes=page.hpb3sizes %}
{% include assembly-stats.html individual=3                      mseq=page.mito3seq mversion=page.mito3version mdate=page.mito3date mfilesize=page.mito3filesize %}

{% if d3 %} {% assign shown = false %} {% endif %}
{% if shown == false and d3 and div34b %}
{% assign shown = true %}
<div class="assembly-list-line">
<hr width="80%">
</div>
{% endif %}

{% include assembly-stats.html individual=4 tlabel="Diploid"     tseq=page.dip4seq  tversion=page.dip4version  tdate=page.dip4date  tfilesize=page.dip4filesize  tsizes=page.dip4sizes %}
{% include assembly-stats.html individual=4 llabel="Primary"     lseq=page.pri4seq  lversion=page.pri4version  ldate=page.pri4date  lfilesize=page.pri4filesize  lsizes=page.pri4sizes
                                            rlabel="Alternate"   rseq=page.alt4seq  rversion=page.alt4version  rdate=page.alt4date  rfilesize=page.alt4filesize  rsizes=page.alt4sizes %}
{% include assembly-stats.html individual=4 tlabel="Merged Trio" tseq=page.mgd4seq  tversion=page.mgd4version  tdate=page.mgd4date  tfilesize=page.mgd4filesize  tsizes=page.mgd4sizes %}
{% include assembly-stats.html individual=4 llabel="Maternal"    lseq=page.mat4seq  lversion=page.mat4version  ldate=page.mat4date  lfilesize=page.mat4filesize  lsizes=page.mat4sizes
                                            rlabel="Paternal"    rseq=page.pat4seq  rversion=page.pat4version  rdate=page.pat4date  rfilesize=page.pat4filesize  rsizes=page.pat4sizes %}
{% include assembly-stats.html individual=4 llabel="Haplotype 1" lseq=page.hpa4seq  lversion=page.hpa4version  ldate=page.hpa4date  lfilesize=page.hpa4filesize  lsizes=page.hpa4sizes
                                            rlabel="Haplotype 2" rseq=page.hpb4seq  rversion=page.hpb4version  rdate=page.hpb4date  rfilesize=page.hpb4filesize  rsizes=page.hpb4sizes %}
{% include assembly-stats.html individual=4                      mseq=page.mito4seq mversion=page.mito4version mdate=page.mito4date mfilesize=page.mito4filesize %}

{% if d4 %} {% assign shown = false %} {% endif %}
{% if shown == false and d4 and div45b %}
{% assign shown = true %}
<div class="assembly-list-line">
<hr width="80%">
</div>
{% endif %}

{% include assembly-stats.html individual=5 tlabel="Diploid"     tseq=page.dip5seq  tversion=page.dip5version  tdate=page.dip5date  tfilesize=page.dip5filesize  tsizes=page.dip5sizes %}
{% include assembly-stats.html individual=5 llabel="Primary"     lseq=page.pri5seq  lversion=page.pri5version  ldate=page.pri5date  lfilesize=page.pri5filesize  lsizes=page.pri5sizes
                                            rlabel="Alternate"   rseq=page.alt5seq  rversion=page.alt5version  rdate=page.alt5date  rfilesize=page.alt5filesize  rsizes=page.alt5sizes %}
{% include assembly-stats.html individual=5 tlabel="Merged Trio" tseq=page.mgd5seq  tversion=page.mgd5version  tdate=page.mgd5date  tfilesize=page.mgd5filesize  tsizes=page.mgd5sizes %}
{% include assembly-stats.html individual=5 llabel="Maternal"    lseq=page.mat5seq  lversion=page.mat5version  ldate=page.mat5date  lfilesize=page.mat5filesize  lsizes=page.mat5sizes
                                            rlabel="Paternal"    rseq=page.pat5seq  rversion=page.pat5version  rdate=page.pat5date  rfilesize=page.pat5filesize  rsizes=page.pat5sizes %}
{% include assembly-stats.html individual=5 llabel="Haplotype 1" lseq=page.hpa5seq  lversion=page.hpa5version  ldate=page.hpa5date  lfilesize=page.hpa5filesize  lsizes=page.hpa5sizes
                                            rlabel="Haplotype 2" rseq=page.hpb5seq  rversion=page.hpb5version  rdate=page.hpb5date  rfilesize=page.hpb5filesize  rsizes=page.hpb5sizes %}
{% include assembly-stats.html individual=5                      mseq=page.mito5seq mversion=page.mito5version mdate=page.mito5date mfilesize=page.mito5filesize %}

{% if d5 %} {% assign shown = false %} {% endif %}
{% if shown == false and d5 and div56b %}
{% assign shown = true %}
<div class="assembly-list-line">
<hr width="80%">
</div>
{% endif %}

{% include assembly-stats.html individual=6 tlabel="Diploid"     tseq=page.dip6seq  tversion=page.dip6version  tdate=page.dip6date  tfilesize=page.dip6filesize  tsizes=page.dip6sizes %}
{% include assembly-stats.html individual=6 llabel="Primary"     lseq=page.pri6seq  lversion=page.pri6version  ldate=page.pri6date  lfilesize=page.pri6filesize  lsizes=page.pri6sizes
                                            rlabel="Alternate"   rseq=page.alt6seq  rversion=page.alt6version  rdate=page.alt6date  rfilesize=page.alt6filesize  rsizes=page.alt6sizes %}
{% include assembly-stats.html individual=6 tlabel="Merged Trio" tseq=page.mgd6seq  tversion=page.mgd6version  tdate=page.mgd6date  tfilesize=page.mgd6filesize  tsizes=page.mgd6sizes %}
{% include assembly-stats.html individual=6 llabel="Maternal"    lseq=page.mat6seq  lversion=page.mat6version  ldate=page.mat6date  lfilesize=page.mat6filesize  lsizes=page.mat6sizes
                                            rlabel="Paternal"    rseq=page.pat6seq  rversion=page.pat6version  rdate=page.pat6date  rfilesize=page.pat6filesize  rsizes=page.pat6sizes %}
{% include assembly-stats.html individual=6 llabel="Haplotype 1" lseq=page.hpa6seq  lversion=page.hpa6version  ldate=page.hpa6date  lfilesize=page.hpa6filesize  lsizes=page.hpa6sizes
                                            rlabel="Haplotype 2" rseq=page.hpb6seq  rversion=page.hpb6version  rdate=page.hpb6date  rfilesize=page.hpb6filesize  rsizes=page.hpb6sizes %}
{% include assembly-stats.html individual=6                      mseq=page.mito6seq mversion=page.mito6version mdate=page.mito6date mfilesize=page.mito6filesize %}



{% if d6 %} {% assign shown = false %} {% endif %}
{% if shown == false and d6 and div67b %}
{% assign shown = true %}
<div class="assembly-list-line">
<hr width="80%">
</div>
{% endif %}

{% include assembly-stats.html individual=7 tlabel="Diploid"     tseq=page.dip7seq  tversion=page.dip7version  tdate=page.dip7date  tfilesize=page.dip7filesize  tsizes=page.dip7sizes %}
{% include assembly-stats.html individual=7 llabel="Primary"     lseq=page.pri7seq  lversion=page.pri7version  ldate=page.pri7date  lfilesize=page.pri7filesize  lsizes=page.pri7sizes
                                            rlabel="Alternate"   rseq=page.alt7seq  rversion=page.alt7version  rdate=page.alt7date  rfilesize=page.alt7filesize  rsizes=page.alt7sizes %}
{% include assembly-stats.html individual=7 tlabel="Merged Trio" tseq=page.mgd7seq  tversion=page.mgd7version  tdate=page.mgd7date  tfilesize=page.mgd7filesize  tsizes=page.mgd7sizes %}
{% include assembly-stats.html individual=7 llabel="Maternal"    lseq=page.mat7seq  lversion=page.mat7version  ldate=page.mat7date  lfilesize=page.mat7filesize  lsizes=page.mat7sizes
                                            rlabel="Paternal"    rseq=page.pat7seq  rversion=page.pat7version  rdate=page.pat7date  rfilesize=page.pat7filesize  rsizes=page.pat7sizes %}
{% include assembly-stats.html individual=7 llabel="Haplotype 1" lseq=page.hpa7seq  lversion=page.hpa7version  ldate=page.hpa7date  lfilesize=page.hpa7filesize  lsizes=page.hpa7sizes
                                            rlabel="Haplotype 2" rseq=page.hpb7seq  rversion=page.hpb7version  rdate=page.hpb7date  rfilesize=page.hpb7filesize  rsizes=page.hpb7sizes %}
{% include assembly-stats.html individual=7                      mseq=page.mito7seq mversion=page.mito7version mdate=page.mito7date mfilesize=page.mito7filesize %}



{% if d7 %} {% assign shown = false %} {% endif %}
{% if shown == false and d7 and div78b %}
{% assign shown = true %}
<div class="assembly-list-line">
<hr width="80%">
</div>
{% endif %}

{% include assembly-stats.html individual=8 tlabel="Diploid"     tseq=page.dip8seq  tversion=page.dip8version  tdate=page.dip8date  tfilesize=page.dip8filesize  tsizes=page.dip8sizes %}
{% include assembly-stats.html individual=8 llabel="Primary"     lseq=page.pri8seq  lversion=page.pri8version  ldate=page.pri8date  lfilesize=page.pri8filesize  lsizes=page.pri8sizes
                                            rlabel="Alternate"   rseq=page.alt8seq  rversion=page.alt8version  rdate=page.alt8date  rfilesize=page.alt8filesize  rsizes=page.alt8sizes %}
{% include assembly-stats.html individual=8 tlabel="Merged Trio" tseq=page.mgd8seq  tversion=page.mgd8version  tdate=page.mgd8date  tfilesize=page.mgd8filesize  tsizes=page.mgd8sizes %}
{% include assembly-stats.html individual=8 llabel="Maternal"    lseq=page.mat8seq  lversion=page.mat8version  ldate=page.mat8date  lfilesize=page.mat8filesize  lsizes=page.mat8sizes
                                            rlabel="Paternal"    rseq=page.pat8seq  rversion=page.pat8version  rdate=page.pat8date  rfilesize=page.pat8filesize  rsizes=page.pat8sizes %}
{% include assembly-stats.html individual=8 llabel="Haplotype 1" lseq=page.hpa8seq  lversion=page.hpa8version  ldate=page.hpa8date  lfilesize=page.hpa8filesize  lsizes=page.hpa8sizes
                                            rlabel="Haplotype 2" rseq=page.hpb8seq  rversion=page.hpb8version  rdate=page.hpb8date  rfilesize=page.hpb8filesize  rsizes=page.hpb8sizes %}
{% include assembly-stats.html individual=8                      mseq=page.mito8seq mversion=page.mito8version mdate=page.mito8date mfilesize=page.mito8filesize %}



{% if d8 %} {% assign shown = false %} {% endif %}
{% if shown == false and d8 and div89b %}
{% assign shown = true %}
<div class="assembly-list-line">
<hr width="80%">
</div>
{% endif %}

{% include assembly-stats.html individual=9 tlabel="Diploid"     tseq=page.dip9seq  tversion=page.dip9version  tdate=page.dip9date  tfilesize=page.dip9filesize  tsizes=page.dip9sizes %}
{% include assembly-stats.html individual=9 llabel="Primary"     lseq=page.pri9seq  lversion=page.pri9version  ldate=page.pri9date  lfilesize=page.pri9filesize  lsizes=page.pri9sizes
                                            rlabel="Alternate"   rseq=page.alt9seq  rversion=page.alt9version  rdate=page.alt9date  rfilesize=page.alt9filesize  rsizes=page.alt9sizes %}
{% include assembly-stats.html individual=9 tlabel="Merged Trio" tseq=page.mgd9seq  tversion=page.mgd9version  tdate=page.mgd9date  tfilesize=page.mgd9filesize  tsizes=page.mgd9sizes %}
{% include assembly-stats.html individual=9 llabel="Maternal"    lseq=page.mat9seq  lversion=page.mat9version  ldate=page.mat9date  lfilesize=page.mat9filesize  lsizes=page.mat9sizes
                                            rlabel="Paternal"    rseq=page.pat9seq  rversion=page.pat9version  rdate=page.pat9date  rfilesize=page.pat9filesize  rsizes=page.pat9sizes %}
{% include assembly-stats.html individual=9 llabel="Haplotype 1" lseq=page.hpa9seq  lversion=page.hpa9version  ldate=page.hpa9date  lfilesize=page.hpa9filesize  lsizes=page.hpa9sizes
                                            rlabel="Haplotype 2" rseq=page.hpb9seq  rversion=page.hpb9version  rdate=page.hpb9date  rfilesize=page.hpb9filesize  rsizes=page.hpb9sizes %}
{% include assembly-stats.html individual=9                      mseq=page.mito9seq mversion=page.mito9version mdate=page.mito9date mfilesize=page.mito9filesize %}

</div>
{% endunless %}



<!-- ASSEMBLY METADATA --->

{% if page.mds %}
{% include section-divider.html title="Assembly Metadata" %}

<div class="section">
  {% for md in page.mds %}
  <div class="sd-meta">
  <table class="sd-info-tab">
    <thead><tr><th class="label" width="100%">{{ md.title }} (<a id="togMD" href="#{{ md.ident }}">view</a>)</th>
           </tr></thead>
    <tbody>
      <tr>
      <td style="text-align: left;">
        <div class="metadata-display" id={{ md.ident }}>
        <pre>
{{ md.data }}
        </pre>
        </div>
      </td>
      </tr>
    </tbody>
  </table>
  </div>
  {% endfor %}
</div>
{% endif %}



<!-- DATA USE POLICY --->

{% include section-divider.html title="Data Use Policy" %}

<div class="section">
<div class="data-use">
<p>
{{ page.data_use_text }}
</p>
</div>
</div>
