---
layout: default
---

<div style="overflow-y: auto">
  <h1 class="page-name"><i>{{ page.name }}</i></h1>
  <h3 style="text-align: right; margin: 0 0 10px 0;">{{ page.common_name }}</h3>

  <br>

  <div class="species-info">
    <h3>Information</h3>

    <div>

    {% if page.taxon_id %}
    <table class="genome-info-table">
    <thead>
    <tr>
    <th width="40%">Resource</th>
    <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td class="label">NCBI Taxonomy Browser</td>
    <td><a href="https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?id={{ page.taxon_id }}">NCBI:txid{{ page.taxon_id }}</a></td>
    </tr>
    <tr>
    </table>
    <br>
    {% endif %}


    {% if page.genbank_pri or page.genbank_alt %}
    <table class="genome-info-table">
    <thead>
    <tr>
    <th width="30%">Resource</th>
    <th>Primary Assembly</th>
    <th>Alternate Assembly</th>
    </tr>
    </thead>

    <tr>
    <td class="label">GenBank</td>
    <td> {% include resource-links.html data=page.genbank_pri link="https://www.ncbi.nlm.nih.gov/assembly/YOURACCHERE" %} </td>
    <td> {% include resource-links.html data=page.genbank_alt link="https://www.ncbi.nlm.nih.gov/assembly/YOURACCHERE" %} </td>
    </tr>

    <tr>
    <td class="label">ENA</td>
    <td> {% include resource-links.html data=page.genbank_pri link="https://www.ebi.ac.uk/ena/browser/view/YOURACCHERE" %} </td>
    <td> {% include resource-links.html data=page.genbank_alt link="https://www.ebi.ac.uk/ena/browser/view/YOURACCHERE" %} </td>
    </tr>

    <tr>
    <td class="label">UCSC Genome Browser</td>
    <td> {% include resource-links.html data=page.genbank_pri link="https://genome.ucsc.edu/h/YOURACCHERE" %} </td>
    <td> {% include resource-links.html data=page.genbank_alt link="https://genome.ucsc.edu/h/YOURACCHERE" %} </td>
    </tr>

    </table>
    <br>
    {% endif %}

    {% if page.genbank_mat or page.genbank_pat %}
    <table class="genome-info-table">
    <thead>
    <th width="30%">Resource</th>
    <th>Maternal Assembly</th>
    <th>Paternal Assembly</th>
    </tr>
    </thead>

    <tr>
    <td class="label">GenBank</td>
    <td> {% include resource-links.html data=page.genbank_mat link="https://www.ncbi.nlm.nih.gov/assembly/YOURACCHERE" %} </td>
    <td> {% include resource-links.html data=page.genbank_pat link="https://www.ncbi.nlm.nih.gov/assembly/YOURACCHERE" %} </td>
    </tr>

    <tr>
    <td class="label">ENA</td>
    <td> {% include resource-links.html data=page.genbank_mat link="https://www.ebi.ac.uk/ena/browser/view/YOURACCHERE" %} </td>
    <td> {% include resource-links.html data=page.genbank_pat link="https://www.ebi.ac.uk/ena/browser/view/YOURACCHERE" %} </td>
    </tr>

    <tr>
    <td class="label">UCSC Genome Browser</td>
    <td> {% include resource-links.html data=page.genbank_mat link="https://genome.ucsc.edu/h/YOURACCHERE" %} </td>
    <td> {% include resource-links.html data=page.genbank_pat link="https://genome.ucsc.edu/h/YOURACCHERE" %} </td>
    </tr>

    </table>
    {% endif %}


    </div>
  </div>

  {% include species-image.html species_name=page.name_ %}

  <div class="species-image">
    <div style="display: inline; margin: 0;">
      <div style="background-image:url({{ image }}); " class="portrait" src="">
      </div>
      <div class="portrait-caption">
        {{ license }}
      </div>
    </div>
  </div>
</div>




<h3>Raw Data</h3>
<div class="raw-data">

{% if page.last_raw_data %}

<table class="raw-data-table">
<thead>
<tr>
<th rowspan="2" class="label">Datatype</th>
<th colspan="2">Approximate Size</th>
<th rowspan="2">Download Size</th>
</tr>
<tr>
<th>Bases</th>
<th>Coverage</th>
</tr>
</thead>
<tbody>

{% if page.data_10x_bytes.size > 0 %}
<tr><td  class="label">10x</td><td>{{ page.data_10x_bases }}</td><td>{{ page.data_10x_coverage }}</td><td>{{ page.data_10x_bytes }}</td></tr>
{% endif %}

{% if page.data_arima_bytes.size > 0 %}
<tr><td  class="label">Arima</td><td>{{ page.data_arima_bases }}</td><td>{{ page.data_arima_coverage }}</td><td>{{ page.data_arima_bytes }}</td></tr>
{% endif %}

{% if page.data_bionano_bytes.size > 0 %}
<tr><td  class="label">Bionano</td><td>{{ page.data_bionano_bases }}</td><td>{{ page.data_bionano_coverage }}</td><td>{{ page.data_bionano_bytes }}</td></tr>
{% endif %}

{% if page.data_dovetail_bytes.size > 0 %}
<tr><td  class="label">Dovetail Genomics</td><td>{{ page.data_dovetail_bases }}</td><td>{{ page.data_dovetail_coverage }}</td><td>{{ page.data_dovetail_bytes }}</td></tr>
{% endif %}

{% if page.data_illumina_bytes.size > 0 %}
<tr><td  class="label">Illumina</td><td>{{ page.data_illumina_bases }}</td><td>{{ page.data_illumina_coverage }}</td><td>{{ page.data_illumina_bytes }}</td></tr>
{% endif %}

{% if page.data_ont_bytes.size > 0 %}
<tr><td  class="label">Oxford Nanopore Simplex</td><td>{{ page.data_ont_bases }}</td><td>{{ page.data_ont_coverage }}</td><td>{{ page.data_ont_bytes }}</td></tr>
{% endif %}

{% if page.data_ontduplex_bytes.size > 0 %}
<tr><td  class="label">Oxford Nanopore Duplex</td><td>{{ page.data_ontduplex_bases }}</td><td>{{ page.data_ontduplex_coverage }}</td><td>{{ page.data_ontduplex_bytes }}</td></tr>
{% endif %}

{% if page.data_pacbio_bytes.size > 0 %}
<tr><td  class="label">PacBio CLR</td><td>{{ page.data_pacbio_bases }}</td><td>{{ page.data_pacbio_coverage }}</td><td>{{ page.data_pacbio_bytes }}</td></tr>
{% endif %}

{% if page.data_pacbiohifi_fqgz_bytes.size > 0 %}
<tr><td  class="label">PacBio HiFi (Q20)</td><td>{{ page.data_pacbiohifi_fqgz_bases }}</td><td>{{ page.data_pacbiohifi_fqgz_coverage }}</td><td>{{ page.data_pacbiohifi_fqgz_bytes }}</td></tr>
{% endif %}

{% if page.data_pacbiohifi_bam_bytes.size > 0 %}
<tr><td  class="label">PacBio HiFi (all)</td><td>{{ page.data_pacbiohifi_bam_bases }}</td><td>{{ page.data_pacbiohifi_bam_coverage }}</td><td>{{ page.data_pacbiohifi_bam_bytes }}</td></tr>
{% endif %}

{% if page.data_pacbiohifi_clr_bytes.size > 0 %}
<tr><td  class="label">PacBio HiFi (subreads)</td><td>{{ page.data_pacbiohifi_clr_bases }}</td><td>{{ page.data_pacbiohifi_clr_coverage }}</td><td>{{ page.data_pacbiohifi_clr_bytes }}</td></tr>
{% endif %}

{% if page.data_phase_bytes.size > 0 %}
<tr><td  class="label">Phase Genomics</td><td>{{ page.data_phase_bases }}</td><td>{{ page.data_phase_coverage }}</td><td>{{ page.data_phase_bytes }}</td></tr>
{% endif %}

</tbody>
</table>
<div align="right">
{% if page.genome_size_display %}
Coverage based on genome size {{ page.genome_size_display }}.
{% else %}
No genome size estimate available.
{% endif %}
</div>

<div align="right">
Last upload on {{ page.last_raw_data | date: "%-d %B %Y" }}.
</div>

<div>
Download each datatype using the <A HREF="https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-install.html">AWS Command Line Interface</A>:

<div class="download-links">
{% if page.data_10x_links %}
{{ page.data_10x_links }}
{% endif %}

{% if page.data_arima_links %}
{{ page.data_arima_links }}
{% endif %}

{% if page.data_bionano_links %}
{{ page.data_bionano_links }}
{% endif %}

{% if page.data_dovetail_links %}
{{ page.data_dovetail_links }}
{% endif %}

{% if page.data_illumina_links %}
{{ page.data_illumina_links }}
{% endif %}

{% if page.data_ont_links %}
{{ page.data_ont_links }}
{% endif %}

{% if page.data_ontduplex_links %}
{{ page.data_ontduplex_links }}
{% endif %}

{% if page.data_pacbio_links %}
{{ page.data_pacbio_links }}
{% endif %}

{% if page.data_pacbiohifi_fqgz_links %}
{{ page.data_pacbiohifi_fqgz_links }}
{% endif %}

{% if page.data_pacbiohifi_bam_links %}
{{ page.data_pacbiohifi_bam_links }}
{% endif %}

{% if page.data_pacbiohifi_clr_links %}
{{ page.data_pacbiohifi_clr_links }}
{% endif %}

{% if page.data_phase_links %}
{{ page.data_phase_links }}
{% endif %}
</div>

</div>

{% else %}

<em style="color:red">No data.</em><br/>

{% endif %}
</div>

<!-- NOTES --->

{% if page.notes %}
<h3>Notes</h3>
<div class="notes">
<em style="color:red">{{ page.notes }}</em><br/>
</div>
{% endif %}

<!-- ASSEMBLIES --->

<h3>Assemblies</h3>
<div class="assemblies">


{% include genomeark_asm_stats.html
     individual=1
     llabel="Primary"   lseq=page.pri1seq  lversion=page.pri1version  ldate=page.pri1date  lfilesize=page.pri1filesize  lsizes=page.pri1sizes
     rlabel="Alternate" rseq=page.alt1seq  rversion=page.alt1version  rdate=page.alt1date  rfilesize=page.alt1filesize  rsizes=page.alt1sizes
                        mseq=page.mito1seq mversion=page.mito1version mdate=page.mito1date mfilesize=page.mito1filesize
     genome_size_display=page.genome_size_display
%}

{% include genomeark_asm_stats.html
     individual=1
     llabel="Maternal"  lseq=page.mat1seq  lversion=page.mat1version  ldate=page.mat1date  lfilesize=page.mat1filesize  lsizes=page.mat1sizes
     rlabel="Paternal"  rseq=page.pat1seq  rversion=page.pat1version  rdate=page.pat1date  rfilesize=page.pat1filesize  rsizes=page.pat1sizes
                        tseq=page.mgd1seq  tversion=page.mgd1version  tdate=page.mgd1date  tfilesize=page.mgd1filesize  tsizes=page.mgd1sizes
     genome_size_display=page.genome_size_display
%}

{% include genomeark_asm_stats.html
     individual=2
     llabel="Primary"   lseq=page.pri2seq  lversion=page.pri2version  ldate=page.pri2date  lfilesize=page.pri2filesize  lsizes=page.pri2sizes
     rlabel="Alternate" rseq=page.alt2seq  rversion=page.alt2version  rdate=page.alt2date  rfilesize=page.alt2filesize  rsizes=page.alt2sizes
                        mseq=page.mito2seq mversion=page.mito2version mdate=page.mito2date mfilesize=page.mito2filesize
     genome_size_display=page.genome_size_display
%}

{% include genomeark_asm_stats.html
     individual=2
     llabel="Maternal"  lseq=page.mat2seq  lversion=page.mat2version  ldate=page.mat2date  lfilesize=page.mat2filesize  lsizes=page.mat2sizes
     rlabel="Paternal"  rseq=page.pat2seq  rversion=page.pat2version  rdate=page.pat2date  rfilesize=page.pat2filesize  rsizes=page.pat2sizes
                        tseq=page.mgd2seq  tversion=page.mgd2version  tdate=page.mgd2date  tfilesize=page.mgd2filesize  tsizes=page.mgd2sizes
     genome_size_display=page.genome_size_display
%}

{% include genomeark_asm_stats.html
     individual=3
     llabel="Primary"   lseq=page.pri3seq  lversion=page.pri3version  ldate=page.pri3date  lfilesize=page.pri3filesize  lsizes=page.pri3sizes
     rlabel="Alternate" rseq=page.alt3seq  rversion=page.alt3version  rdate=page.alt3date  rfilesize=page.alt3filesize  rsizes=page.alt3sizes
                        mseq=page.mito3seq mversion=page.mito3version mdate=page.mito3date mfilesize=page.mito3filesize
     genome_size_display=page.genome_size_display
%}

{% include genomeark_asm_stats.html
     individual=3
     llabel="Maternal"  lseq=page.mat3seq  lversion=page.mat3version  ldate=page.mat3date  lfilesize=page.mat3filesize  lsizes=page.mat3sizes
     rlabel="Paternal"  rseq=page.pat3seq  rversion=page.pat3version  rdate=page.pat3date  rfilesize=page.pat3filesize  rsizes=page.pat3sizes
                        tseq=page.mgd3seq  tversion=page.mgd3version  tdate=page.mgd3date  tfilesize=page.mgd3filesize  tsizes=page.mgd3sizes
     genome_size_display=page.genome_size_display
%}

{% include genomeark_asm_stats.html
     individual=4
     llabel="Primary"   lseq=page.pri4seq  lversion=page.pri4version  ldate=page.pri4date  lfilesize=page.pri4filesize  lsizes=page.pri4sizes
     rlabel="Alternate" rseq=page.alt4seq  rversion=page.alt4version  rdate=page.alt4date  rfilesize=page.alt4filesize  rsizes=page.alt4sizes
                        mseq=page.mito4seq mversion=page.mito4version mdate=page.mito4date mfilesize=page.mito4filesize
     genome_size_display=page.genome_size_display
%}

{% include genomeark_asm_stats.html
     individual=4
     llabel="Maternal"  lseq=page.mat4seq  lversion=page.mat4version  ldate=page.mat4date  lfilesize=page.mat4filesize  lsizes=page.mat4sizes
     rlabel="Paternal"  rseq=page.pat4seq  rversion=page.pat4version  rdate=page.pat4date  rfilesize=page.pat4filesize  rsizes=page.pat4sizes
                        tseq=page.mgd4seq  tversion=page.mgd4version  tdate=page.mgd4date  tfilesize=page.mgd4filesize  tsizes=page.mgd4sizes
     genome_size_display=page.genome_size_display
%}

{% include genomeark_asm_stats.html
     individual=5
     llabel="Primary"   lseq=page.pri5seq  lversion=page.pri5version  ldate=page.pri5date  lfilesize=page.pri5filesize  lsizes=page.pri5sizes
     rlabel="Alternate" rseq=page.alt5seq  rversion=page.alt5version  rdate=page.alt5date  rfilesize=page.alt5filesize  rsizes=page.alt5sizes
                        mseq=page.mito5seq mversion=page.mito5version mdate=page.mito5date mfilesize=page.mito5filesize
     genome_size_display=page.genome_size_display
%}

{% include genomeark_asm_stats.html
     individual=5
     llabel="Maternal"  lseq=page.mat5seq  lversion=page.mat5version  ldate=page.mat5date  lfilesize=page.mat5filesize  lsizes=page.mat5sizes
     rlabel="Paternal"  rseq=page.pat5seq  rversion=page.pat5version  rdate=page.pat5date  rfilesize=page.pat5filesize  rsizes=page.pat5sizes
                        tseq=page.mgd5seq  tversion=page.mgd5version  tdate=page.mgd5date  tfilesize=page.mgd5filesize  tsizes=page.mgd5sizes
     genome_size_display=page.genome_size_display
%}

{% include genomeark_asm_stats.html
     individual=6
     llabel="Primary"   lseq=page.pri6seq  lversion=page.pri6version  ldate=page.pri6date  lfilesize=page.pri6filesize  lsizes=page.pri6sizes
     rlabel="Alternate" rseq=page.alt6seq  rversion=page.alt6version  rdate=page.alt6date  rfilesize=page.alt6filesize  rsizes=page.alt6sizes
                        mseq=page.mito6seq mversion=page.mito6version mdate=page.mito6date mfilesize=page.mito6filesize
     genome_size_display=page.genome_size_display
%}

{% include genomeark_asm_stats.html
     individual=6
     llabel="Maternal"  lseq=page.mat6seq  lversion=page.mat6version  ldate=page.mat6date  lfilesize=page.mat6filesize  lsizes=page.mat6sizes
     rlabel="Paternal"  rseq=page.pat6seq  rversion=page.pat6version  rdate=page.pat6date  rfilesize=page.pat6filesize  rsizes=page.pat6sizes
                        tseq=page.mgd6seq  tversion=page.mgd6version  tdate=page.mgd6date  tfilesize=page.mgd6filesize  tsizes=page.mgd6sizes
     genome_size_display=page.genome_size_display
%}

</div>


<!-- DATA USE POLICY --->

<h3>Data Use Policy</h3>
<div class="data-use">
Samples and data come from a variety of sources. To support fair and productive use of this data,
please abide by the <a href="https://genome10k.soe.ucsc.edu/data-use-policies/"><em>Data Use Policy</em></a>
and contact us with any questions.
</div>
